<%= render partial: "shared/hero", locals: { title: "Order History" }%>
<div class="container">
  <div class="">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Order Date (UTC)</th>
          <th scope="col">User Email</th>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Cost</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_order", collection: @orders %>
      </tbody>
    </table>
  </div>
</div>