<div class="col">
  <div class="card" style="width: 18rem;">
    <img src="https://bulma.io/images/placeholders/1280x960.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <%= image.title %> - <strong>$<%= image.price %></strong>
      </h5>
      <p class="card-text">
        <%= image.description %>
      </p>
    </div>
  </div>
</div>