<div class="col d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://bulma.io/images/placeholders/1280x960.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">
        <%= product.title %> - <strong>$<%= product.price %></strong>
      </h5>
      <p class="card-text">
        <%= product.description %>
      </p>
    </div>
  </div>
</div>