<div class="col d-flex justify-content-center m-2">
  <div class="card" style="width: 12rem;">
    <%= image_tag(product.attachment, :class => "card-img-top") %>
    <div class="card-body">
      <h5 class="card-title">
        <%= product.title %> - <strong>$<%= product.price %></strong>
      </h5>
      <p class="card-text">
        <%= product.description %>
      </p>
    </div>
  </div>
</div>