<%= render partial: "shared/hero", locals: { title: "Admin Dashboard", subtitle: "Categories" } %>

<div class="container">
  <div class="column is-one-quarter is-multiline">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_category", collection: @categories %>
      </tbody>
    </table>
  </div>
</div>