<%=
  render partial: "shared/hero",
  locals: {
    title: "Admin Dashboard",
    subtitle: "Categories",
    search_method_path: admin_categories_path,
    search_placeholder: "Search Categories..."
  }
%>

<div class="container">
  <div class="">
    <%= link_to "Add Category", new_admin_category_path %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_category", collection: @categories %>
      </tbody>
    </table>
  </div>
</div>