<%= render partial: "shared/hero", locals: { title: "Admin Dashboard", subtitle: "Products" } %>

<div class="container">
  <div class="">
    <%= link_to "Add Product", new_admin_product_path %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "admin_product", collection: @products %>
      </tbody>
    </table>
  </div>
</div>