<%=
  render partial: "shared/hero",
  locals: {
    title: 'Categories',
    search_method_path: categories_path,
    search_placeholder: "Search Categories..."
  }
%>

<div class="container">
  <div class="row">
    <% if @categories %>
      <%= render partial: "shared/category", collection: @categories %>
    <% else %>
      <p>No categories found!</p>
    <% end %>
  </div>
</div>
