<%= render partial: "shared/hero", locals: { title: 'Categories', has_search: { method_path: categories_path } } %>
<div class="container">
  <div class="row">
    <% if @categories && @categories.count > 0 %>
      <%= render partial: "shared/category", collection: @categories %>
    <% else %>
      <p>No categories found!</p>
    <% end %>
  </div>
</div>
