<%= render partial: "shared/hero", locals: { title: 'Welcome to ImRepo', subtitle: 'Explore Images and Buy Rights' } %>
<div class="container">
  <div class="row">
    <%= render partial: "shared/category", collection: @categories  %>
  </div>
</div>
