<%= render partial: "shared/hero", locals: { title: @category.name.capitalize, subtitle: '' } %>
<div class="container">
  <div class="row">
    <%= render partial: "shared/product", collection: @products  %>
  </div>
</div>
