<%= render partial: "shared/hero", locals: { title: 'Welcome to ImRepo', subtitle: 'Explore Products and Buy Rights' } %>
<div class="container">
  <div class="row">
    <%= render partial: "shared/product", collection: @products  %>
  </div>
</div>
