
<%= render partial: "shared/hero", locals: { title: 'Images', has_search: { method_path: products_path } } %>
<div class="container pb-5">
  <div class="row mb-5">
    <% if @products && @products.count > 0 %>
      <%= render partial: "shared/product", collection: @products  %>
    <% else %>
      <p>No Images found!</p>
    <% end %>
  </div>
</div>
