
<%= render partial: "shared/hero", locals: { title: 'Images', has_search: true } %>
<div class="container pb-5">
  <div class="row mb-5">
    <%= render partial: "shared/product", collection: @products  %>
  </div>
</div>
